doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Pompiere', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet' type='text/css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/js/plugins/jlivetime-0.0.13.min.js")
    script(type='text/javascript').
      var countDown = !{((settings.minutes * 60) + settings.seconds) * 1000}
      var openPicks = !{JSON.stringify(openPicks)}
    script(src="/js/board.js")
    title= pageTitle
  body
    - var boardUrl = "http://www.freedraftboard.com/board/" + settings.shortId;
    .board(id="#{settings.shortId}")
      #control-panel.control-panel
        .transparent-wrapper
          time(data-time-label="#countDown", class="count-down", id="count-down")
          button#start-draft.button.tertiary.start-draft Start
          button#pause-draft.button.quadrary.pause-draft Pause
          button#resume-draft.button.tertiary.resume-draft Resume
          #pick-nav.pick-nav
            button#previous-pick.button.tertiary.previous-pick &laquo;
            button#next-pick.button.tertiary.next-pick &raquo;
          button#open-panel.open-panel.button.secondary &laquo;
          button#close-panel.close-panel.button.secondary &raquo;
      .league-info.cf
        .league-settings
          h1.league-name= settings.league
          p.board-url URL: 
            a(href="#{boardUrl}") #{boardUrl}
          p.total-rounds #{"Rounds: " + settings.rounds}
          p.pick-time #{"Pick Time: " + settings.minutes + " Minutes, " + settings.seconds + " Seconds"}
      .league
        each teamName in settings.teams
          div(id="#{teamName}", class="team")= teamName
      include partials/board/rounds
      #selection-blanket.selection-blanket
      #selection.selection
        .selection-content
          h3.your-pick Enter selection for
          h2#team_id.team-id
          form#selection_form(action="#", method="POST")
            input#entered-value.text-input.tertiary.player-input(type="text", name="value")
            input#full_pick_id(type="hidden", name="pick")
            input#short_id(type="hidden", name="shortId")
            input#team_name(type="hidden", name="teamName")
            input.button.tertiary.pick-submit(type="submit", value="Go")
          .pick-indicator
            h3.round-id Round:&nbsp;
              span#round_id
              |  Pick:&nbsp;
              span#pick_id
