doctype html
html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet' type='text/css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(type='text/javascript').
      var settings = !{JSON.stringify(settings)} // for client access
    script(src="/js/board.js")
    script(src="/js/ui.js")
    title= pageTitle
  body
    - var boardUrl = "http://www.freedraftboard.com/board/" + settings.shortId;
    .board(id="#{settings.shortId}")
      .league-info.cf
        h1.league-name= settings.league
        p.league-settings
          span.board-url URL: 
            a(href="#{boardUrl}") #{boardUrl}
          br
          span.total-rounds #{"Rounds: " + settings.rounds}
          br
          span.pick-time #{"Pick Time: " + settings.minutes + ":" + settings.seconds}
          br
          span.on-the-clock #{"On the clock: add team here"}
          br
          button#start-draft.start-draft Start Drafting
          button#pause-draft.pause-draft Pause Draft
          button#resume-draft.resume-draft Resume Draft
      .league
        each teamName in settings.teams
          div(id="#{teamName}", class="team")= teamName
      - for (i=1;i<settings.rounds+1;i++)
        if settings.serpentine
          include partials/board/round_serpentine 
        else
          include partials/board/round_standard
      #selection-blanket.selection-blanket
      #selection.selection
        h2#team_id.team_id
        h3 Round:&nbsp;
          span#round_id.round_id
          |  Pick:&nbsp;
          span#pick_id.pick_id
        form#selection_form(action="#", method="POST")
          input#player_name(type="text", name="player")
          input#full_pick_id(type="hidden", name="pick")
          input#short_id(type="hidden", name="shortId")
          input#team_name(type="hidden", name="teamName")
          input(type="submit")
