doctype html
html(lang="en" ng-app="draftApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Pompiere', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400', rel='stylesheet', type='text/css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/js/plugins/jlivetime-0.0.13.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
    script(type='text/javascript').
      var countDown = !{((settings.minutes * 60) + settings.seconds) * 1000};
      var active = !{settings.active};
      var currentPick = !{settings.currentPick};
      var admin = !{admin};
      var paused = !{settings.paused};
      var completed = !{settings.completed};
    if settings.timeStarted
      script(type='text/javascript').
        var timeStarted = !{settings.timeStarted};
    if settings.timeRemaining
      script(type='text/javascript').
        var timeRemaining = !{settings.timeRemaining};
    if settings.pool
      script(type='text/javascript').
        var pool = !{JSON.stringify(settings.pool)};
        var poolType = "!{settings.poolType}";
    script(src="/js/board.js")
    title= pageTitle
  body
    - var boardUrl = "http://www.freedraftboard.com/board/" + settings.shortId;
    .board(id="#{settings.shortId}")
      include partials/board/control-panel
      include partials/board/league-info
      .league
        each teamName in settings.teams
          div(id="#{teamName}", class="team")= teamName
      include partials/board/rounds
      #modal-blanket.modal-blanket
      include partials/board/selection-modal
      include partials/board/completed-modal
      include partials/footer
    script(src="/js/bindings.js")
