extends layout

block head

  script(src="/js/board_settings.js")

block content

  h1 Customize your Board
  h2 Customize your Board
  h3 Customize your Board
  h4 Customize your Board
  h5 Customize your Board
  h6 Customize your Board
  p Customize your Board
  form#board_settings.board_settings
    input(type="hidden", value="#{url_id}")
    label(for="serpentine_setting") Serpentine style?
    input(type="checkbox", checked="checked", id="serpentine_setting")
    label(for="round_setting") How many rounds? (roster spots)
    select#round_setting
      - for (var low_round=1; low_round<15; low_round++)
        option(value="#{low_round}")= low_round
      option(value="", selected="selected") 15
      - for (var high_round=16; high_round<100; high_round++)
        option(value="#{high_round}")= high_round
    label(for="time_setting") Time per pick?
    #time_setting
      label(for="hour_setting") Hours: 
      select#hour_setting
        option(value="0", selected="selected") 0
        - for (var hour=1; hour<25; hour++)
          option(value="#{hour}")= hour
      label(for="minute_setting") Minutes: 
      select#minute_setting
        option(value="0") 0
        option(value="1") 1
        option(value="2", selected="selected") 2
        - for (var minute=3; minute<60; minute++)
          option(value="#{minute}")= minute
      label(for="second_setting") Seconds: 
      select#second_setting
        option(value="0", selected="selected") 0
        - for (var second=1; second<60; second++)
          option(value="#{second}")= second
    label(for="round_setting") How many teams?
    select#teams_setting
      option(value="", selected="selected") &mdash;
      - for (var round=1; round<100; round++)
        option(value="#{round}")= round
    #team_names.team_names
    input(id="submit_settings", type="submit")
