extends layout

block head

  script(src="/js/settings.js")

block content

  h1.tac Customize your Board
  form#settings.settings(action="/board", method="POST")
    .cf
      .half.padded
        .padded.primary-bg.rounded.group1
          .setting-group
              label(for="pool_setting").h4 Type
              select#pool_setting(name="pool_setting")
                option(value="") &mdash;
                option(value="football", selected="selected") American Football
          .setting-group
            label(for="league").h4 League Name
            input.text-input.primary(type="text", name="league", placeholder="Enter League Name Here", required)
          .setting-group
            label(for="password_setting").h4 Set Edit Password
            input(placeholder="Password", type="password", class="text-input primary", name="password_value", required)
            input(placeholder="Confirm Password", type="password", class="text-input primary", name="pass_confirm_value", required)
          .setting-group
            label(for="serpentine_setting").h4 Serpentine style? 
            input(type="checkbox", checked="checked", id="serpentine_setting", name="serpentine")
          .tac.padded.white-bg
            p.black-fg.whisper Choosing 'Serpentine' helps to ensure fairness at your draft. Whomever is awarded the top pick gets to watch all the best selections fly off the board before his number is called again. 
              | If you beleive fairness is for sissies, you should disable this.
          #serpentine-img.module
            img.fluid.fancy-img(src="/img/screenshots/serpentine-460.png", alt="Screenshot of Serpentine Draft Type")
      .half.padded
        .padded.primary-bg.rounded.group2
          .setting-group
            label(for="round_setting").h4 Rounds
            select#round_setting(name="rounds")
              - for (var low_round=1; low_round<15; low_round++)
                option(value="#{low_round}")= low_round
              option(value="15", selected="selected") 15
              - for (var high_round=16; high_round<100; high_round++)
                option(value="#{high_round}")= high_round
          .setting-group
            #time_setting
              label(for="minute_setting").h4 Pick Duration
              select#minute_setting(name="minutes")
                option(value="0") 00
                option(value="1") 01
                option(value="2", selected="selected") 02
                option(value="3") 03
                option(value="4") 04
                option(value="5") 05
                option(value="6") 06
                option(value="7") 07
                option(value="8") 08
                option(value="9") 09
                - for (var minute=10; minute<60; minute++)
                  option(value="#{minute}")= minute
              select#second_setting(name="seconds")
                option(value="0", selected="selected") 00
                option(value="5") 05
                - for (var second=10; second<60; second++)
                  - if (second % 5 == 0)
                    option(value="#{second}")= second
          .setting-group
            label(for="team_setting").h4 Teams
            select#teams_setting
              option(value="", selected="selected") &mdash;
              - for (var team=4; team<21; team++)
                option(value="#{team}")= team
          #team_names.team_names.setting-group
          .setting-group.tac
            input.button.tertiary.big-submit(id="submit_settings", type="submit", value="Now Build It!")
        #teams-required.module
          h4.tertiary-fg.tac You must add teams before we can render your board.