each key, val in settings.picks
  if (picks[val].pick === pickId)
    - var pickColor = ''
    if poolType === 'football'
      case picks[val].meta1
        when 'QB'
          - pickColor += ' meta-gold'
        when 'RB'
          - pickColor += ' meta-green'
        when 'WR'
          - pickColor += ' meta-blue'
        when 'TE'
          - pickColor += ' meta-pink'
        when 'D/ST'
          - pickColor += ' meta-brown'
        when 'K'
          - pickColor += ' meta-magenta'
        default
          - pickColor += ''
    div(data-team="#{teamName}", id="pick-#{pickId}" class="pick#{pickColor}")
      .pick-data
        if picks[val].value2
          p.pick-value2= picks[val].value2
        else
          p.pick-value2
        if picks[val].value1
          p.pick-value1.picked= picks[val].value1
        else
          p.pick-value1
        .pick-meta
          p.pick-meta1= picks[val].meta1
          p.pick-meta2
            if picks[val].meta2
              span Bye: 
            span= picks[val].meta2
        p.pick-team= picks[val].team
      span.pick-count #{((i-1) * settings.teams.length) + j}
